@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

.agendaDiv{
    background-color: white;
    height: 80vh;
    flex-grow:1;
    border-radius: 12px;
    margin:40px 20px 40px 30px;    
    text-align: center;

    display:flex;
    flex-direction:column;

}

#title{
    color:rgb(59, 59, 59);
    font-weight: 500;
    
}

#addTaskButton{
    margin: 20px auto;
}
