@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

.agendaDiv{
    background-color: white;
    height: 80vh;
    width:33vw;
    border-radius: 12px;
    margin:40px 20px 40px 30px;    
    text-align: center;

    display:flex;
    flex-direction:column;

}

#title{
    color:rgb(59, 59, 59);
    font-weight: 500;
    
}

#addTaskButton{
    margin: 20px auto;
}

.taskDiv{
    display:flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    margin:20px 0px;
}